.mypage-container {
  width: 600px;
  margin-top: 60px;
  padding: 10px;
}

.mypage-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.mypage-section {

  margin-bottom: 24px;
}

.mypage-info-box,
.mypage-edit-box {
  max-width: 1500px;
  margin: 0 auto; /* 중앙 정렬 */
  background: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.mypage-info-box p {
  margin: 8px 0;
}

.mypage-input-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.mypage-input-row label {
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 8px;
}

.mypage-input-row input {
  flex: 1;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.mypage-input-row button {
  margin-left: 8px;
  padding: 6px 12px;
  font-size: 12px;
  border: 1px solid #aaa;
  background: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.mypage-update-btn {
  width: 100%;
  padding: 12px;
  background-color: #a8c9ff;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 12px;
}

.mypage-update-btn:hover {
  background-color: #91baff;
}

.mypage-logout-btn {
  width: 100%;
  padding: 12px;
  background-color: #fdaaaa;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.mypage-withdraw-btn {
  width: 100%;
  padding: 12px;
  background-color: #ccc;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}