.mypage-container {
  width: 35rem; /* 600px → 30rem 수정*/
  margin-top: 3rem; /* 60px → 3rem */
  padding: 0.5rem; /* 10px → 0.5rem */
}

.mypage-title {
  font-size: 1.2rem; /* 24px → 1.2rem */
  font-weight: bold;
  margin-bottom: 1.5rem; /* 24px → 1.2rem */
}

.mypage-section {
  margin-bottom: 1.8rem; /* 24px → 1.2rem 수정*/
}

.mypage-info-box,
.mypage-edit-box {
  max-width: 75rem; /* 1500px → 75rem */
  margin: 0 auto; /* 중앙 정렬 */
  background: #fff;
  padding: 0.8rem; /* 16px → 0.8rem */
  border: 0.05rem solid #ddd; /* 1px → 0.05rem */
  border-radius: 0.4rem; /* 8px → 0.4rem */
}

.mypage-info-box p {
  margin: 0.5rem 0; /* 8px → 0.4rem 수정*/
}

.mypage-input-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem; /* 12px → 0.6rem */
}

.mypage-input-row label {
  width: 5.5rem; /* 100px → 5rem 수정*/
  font-weight: bold;
  font-size: 0.9rem; /* 14px → 0.7rem 수정*/
  margin-right: 0.4rem; /* 8px → 0.4rem */
}

.mypage-input-row input {
  flex: 1;
  padding: 0.4rem; /* 8px → 0.4rem */
  border: none;
  border-bottom: 0.05rem solid #ccc; /* 1px → 0.05rem */
  font-size: 0.9rem; /* 14px → 0.7rem 수정*/
  outline: none;
}

.mypage-input-row button {
  margin-left: 0.4rem; /* 8px → 0.4rem */
  padding: 0.3rem 0.6rem; /* 6px 12px → 0.3rem 0.6rem */
  font-size: 0.8rem; /* 12px → 0.6rem 수정*/
  border: 0.05rem solid #aaa; /* 1px → 0.05rem */
  background: #fff;
  cursor: pointer;
  border-radius: 0.2rem; /* 4px → 0.2rem */
}

.mypage-update-btn {
  width: 100%;
  padding: 0.6rem; /* 12px → 0.6rem */
  background-color: #a8c9ff;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem; /* 4px → 0.2rem */
  cursor: pointer;
  margin-top: 0.6rem; /* 12px → 0.6rem */
}

.mypage-update-btn:hover {
  background-color: #91baff;
}

.mypage-logout-btn {
  width: 100%;
  padding: 0.6rem; /* 12px → 0.6rem */
  background-color: #fdaaaa;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem; /* 4px → 0.2rem */
  cursor: pointer;
}

.mypage-withdraw-btn {
  width: 100%;
  padding: 0.6rem; /* 12px → 0.6rem */
  background-color: #ccc;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem; /* 4px → 0.2rem */
  cursor: pointer;
}
