.novel-card {
  width: 100%;
  height: 650px;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novel-card-image-wrapper {
  position: relative;
  width: 80%;
  aspect-ratio: 2 / 3; /* 1:1.5 비율 */
  border-radius: 12px;
  overflow: hidden;
}


/* ✅ 표지 이미지 */
.novel-card-foreground {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 원본 비율 유지하면서 잘리지 않도록 */
  z-index: 1;
  border-radius: 12px;
}

.novel-card-title {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 1px;
  text-align: center;
}

.novel-card-meta {
  font-size: 12px;
  color: #666;
  text-align: center;
  margin: 0;
}

.novel-card-description {
  height: 150px;
  font-size: 13px;
  line-height: 1.4;
  color: #333;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.novel-card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  box-sizing: border-box;
}

.start-button {
  flex: 1;
  padding: 10px;
  background-color: #3a72ec;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.like-button {
  background-color: white;
}

.like-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-color: white;
}
