.cart-page {
  background-color: #fff;
  width: 37.5rem;
  max-height: 32.5rem;
}

.cart-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: black;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid black;
}

.cart-controls {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.cart-controls button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 1rem;
  color: black;
}

.cart-controls .active {
  background-color: #f0f0f0;
  border-color: black;
  font-weight: bold;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 30rem;
  overflow-y: auto; /* 세로 스크롤 허용 */
}

.cart-list::-webkit-scrollbar {
  display: none;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
}

.cart-cover {
  width: 6rem;
  height: 8.4rem;
  object-fit: cover;
  border-radius: 0.2rem;
}

.cart-info h1 {
  margin: 0;
  font-weight: normal !important;
  font-size: 1rem !important;
  color: black;
  margin-bottom: 1rem;
}

.cart-info p {
  margin: 0.2rem 0rem;
  font-size: 0.75rem;
  color: #555;
}

.continue-btn {
  margin-left: auto;
  padding: 0.3rem 0.6rem;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.7rem;
  color: black;
}
