/* 전체 컨테이너 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem; /* 500px → 25rem */
  background: white;
}

/* 로고 */
.logo {
  font-size: 1.2rem; /* 24px → 1.2rem */
  font-weight: bold;
  margin-bottom: 1.6rem !important; /* 32px → 1.6rem */
}

/* 로그인 박스 */
.login-box {
  width: 32rem; /* 580px → 29rem 수정*/
  background: #fff;
  padding: 1.6rem; /* 32px → 1.6rem */
  border: 0.05rem solid #e0e0e0; /* 1px → 0.05rem */
  border-radius: 0.4rem; /* 8px → 0.4rem */
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05); /* 2px 4px → 0.1rem 0.2rem */
}

.login-box input {
  width: 100%;
  padding: 0.5rem; /* 10px → 0.5rem */
  margin-bottom: 0.8rem; /* 16px → 0.8rem */
  border: none;
  border-bottom: 0.05rem solid #ccc;
  font-size: 0.9rem; /* 14px → 0.7rem 수정 */
  outline: none;
}

/* 버튼 */
.login-btn {
  width: 100%;
  padding: 0.6rem; /* 12px → 0.6rem */
  background-color: #a8c9ff;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem; /* 4px → 0.2rem */
  cursor: pointer;
  margin-bottom: 0.8rem; /* 16px → 0.8rem */
}

.login-btn:hover {
  background-color: #91baff;
}

.signup-btn {
  width: 100%;
  padding: 0.6rem;
  background-color: #f0f0f0 !important;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #e0e0e0;
}

/* 구분선 */
.divider {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem; /* 16px → 0.8rem */
  color: #888;
}

.divider hr {
  flex: 1;
  border: none;
  border-top: 0.05rem solid #ccc;
}

.divider span {
  margin: 0 0.4rem; /* 8px → 0.4rem */
  font-size: 0.6rem; /* 12px → 0.6rem */
  color: #666;
}
