.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: white;
}

.logo {
  font-size: 1.2rem; /* 24px → 1.2rem */
  font-weight: bold;
  margin-bottom: 1.6rem; /* 32px → 1.6rem */
}

.signup-box {
  width: 31rem; /* 580px → 29rem 수정*/
  background: #fff;
  padding: 1.6rem; /* 32px → 1.6rem */
  border: 0.05rem solid #e0e0e0; /* 1px → 0.05rem */
  border-radius: 0.4rem; /* 8px → 0.4rem */
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.05); /* 2px 4px → 0.1rem 0.2rem */
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem; /* 16px → 0.8rem */
}

.input-row label {
  width: 5.5rem; /* 100px → 5rem */
  font-weight: bold;
  font-size: 0.9rem; /* 14px → 0.7rem 수정*/
  margin-right: 0.4rem; /* 8px → 0.4rem */
}

.input-row input {
  flex: 1;
  padding: 0.4rem; /* 8px → 0.4rem */
  border: none;
  border-bottom: 0.05rem solid #ccc;
  outline: none;
  font-size: 0.9rem; /* 14px → 0.7rem 수정*/
}

.input-row button {
  margin-left: 0.4rem; /* 8px → 0.4rem */
  padding: 0.3rem 0.6rem; /* 6px 12px → 0.3rem 0.6rem */
  font-size: 0.8rem; /* 12px → 0.6rem */
  border: 0.05rem solid #aaa; /* 1px → 0.05rem */
  background: #fff;
  cursor: pointer;
  border-radius: 0.2rem; /* 4px → 0.2rem */
}

.input-row button:hover {
  background: #f2f2f2;
}

/* 기본 placeholder 스타일 */
input::placeholder {
  color: #aaa;
  font-size: 0.7rem;
}

/* 에러 상태일 때 placeholder 빨간색 */
input.error::placeholder {
  color: red;
}

.signup-btn {
  width: 100%;
  padding: 0.6rem; /* 12px → 0.6rem */
  background-color: #a8c9ff;
  border: none;
  font-weight: bold;
  border-radius: 0.2rem; /* 4px → 0.2rem */
  cursor: pointer;
  margin-top: 0.6rem; /* 12px → 0.6rem */
}

.signup-btn:hover {
  background-color: #91baff;
}
