.viewer-container {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.viewer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7d7f4;
  padding: 10px 20px;
}

.episode-title {
  font-size: 18px;
  font-weight: bold;
}

.nav-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.viewer-main {
  display: flex;
  justify-content: center; /* 수평 중앙 */
  align-items: center; /* 수직 중앙 */
  gap: 40px; /* 양쪽 페이지 사이 간격 */
  padding: 60px; /* 전체 여백 */
  height: 100vh; /* 화면 전체 높이 */
  box-sizing: border-box; /* padding 포함 계산 */
  /*background-color: #f9f9f9; /* 배경색(optional) */
}

.page {
  flex: 1;
  width: 400px;
  white-space: pre-line;
  line-height: 2;
}

.left-page {
  text-align: left;
  border-right: 1px solid #eee;
  padding-right: 20px;
}

.right-page {
  text-align: left;
  padding-left: 20px;
}

.arrow-button {
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  z-index: 10;
}

p {
  margin-bottom: 2em; /* 기본보다 넓게 */
  line-height: 1.6; /* 줄간격도 자연스럽게 */
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.character-icon img {
  width: 40px;
  height: 40px;
}

.balloon {
  background-color: #dbeafe;
  padding: 10px;
  border-radius: 15px;
  margin-left: 10px;
}
